body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    height: -webkit-fill-available;
}
body {
    background-color: #fff;
}
#root {
    z-index: 1;
    min-height: 100%;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}
